
.page
{
    width: 800px;
    margin: 0 auto;

    background: grey;
}
.conteiner
{
    width: 700px;
    margin: 0 auto;

    background-color: white;
}
.conteiner p
{
    font-family: Arial;
    line-height: 28px;
}
.banner
{
    width: 700px;
    height: 100%;
    margin-bottom: 25px;
}
.wrapper
{
    width: 600px;
    margin-left: 54px;
}
.text_center
{
    text-align: center;
}

.gynecologist
{
    float: left;

    width: 260px;
    height: 280px;
    margin-right: 60px;
}
.gynecologist img
{
    width: 280px;
}
.teeth
{
    float: left;

    width: 280px;
    height: 280px;
    margin-bottom: 30px;
}
.teeth img
{
    width: 280px;
}
.clearfix:after
{
    display: block;
    clear: both;

    content: '';
}
.button_center
{
    font: bold 12px Arial;

    width: 280px;
    height: 40px;

    color: white;
    border: none;
    border-radius: 5px;
    background-color: rgba(214, 26, 12, .71);
}
.cardio_neurologist
{
    float: left;
    width: 200px;
    height: 120px;
    margin-top: 90px;
}
.cardio_neurologist img
{
    width: 190px;
}
.button_three
{
    font: bold 12px Arial;

    width: 194px;
    height: 35px;
    margin-bottom: 20px;

    color: white;
    border: none;
    border-radius: 5px;
    background-color: rgba(214, 26, 12, .71);
}
.text_footer
{
    margin-top: 309px;
}
.button_footer
{
    font: bold 16px Arial;

    width: 600px;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 30px;

    color: white;
    border: none;
    border-radius: 5px;
    background-color: rgba(214, 26, 12, .71);
}
.text_inside
{
    font: 10px Arial;
    line-height: 20px;

    margin-top: 45px;
    text-align: center;

    color: white;
}
.text_inside a
{
    margin-bottom: 20px;

    color: white;
}
